{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
      <!-- This is where your WTForm will go -->
        {{ render_form(form, action=url_for('add_cafe'), method='post') }}

        {% if form.name.errors %}
            <ul class="errors">
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

	  <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
